<mat-card class="shadow-none">
  <mat-card-content>
    <div class="d-flex align-items-center flex-row gap-4 mb-4">
      <p class="mb-0 fw-bold fs-6">
        Employees List
      </p>
      <mat-form-field appearance="outline" class="flex-grow-1 w-auto custom-style">
        <mat-label>Type to search</mat-label>
        <input #searchInput matInput placeholder="Type to search" [(ngModel)]="searchVal">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <button type="button" mat-icon-button title="Toggle Filters" (click)="toggleFilters()">
        <mat-icon aria-label="Side nav toggle icon">tune</mat-icon>
      </button>
    </div>
    <div class="mat-table">
      <table mat-table [dataSource]="dataSource" matSort #table>
        <ng-container matColumnDef="name">
          <th class="p-3 fs-6" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell class="p-3" *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <ng-container matColumnDef="salary">
          <th class="p-3 fs-6" mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
          <td mat-cell class="p-3" *matCellDef="let row"> {{row.salary |currency}} </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th class="p-3 fs-6" mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell class="p-3" *matCellDef="let row"> {{row.phone}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th class="p-3 fs-6" mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell class="p-3" *matCellDef="let row"> <a appEmailLink [email]="row.email">{{row.email}}</a></td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th class="p-3 fs-6" mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell class="p-3" *matCellDef="let row"> {{row.date | date:'MMMM dd, yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="country">
          <th class="p-3 fs-6" mat-header-cell *matHeaderCellDef> Country </th>
          <td mat-cell class="p-3" *matCellDef="let row"> {{row.country}} </td>
        </ng-container>
        <ng-container matColumnDef="company">
          <th class="p-3 fs-6" mat-header-cell *matHeaderCellDef> Company </th>
          <td mat-cell class="p-3" *matCellDef="let row"> {{row.company}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="columns.length" class="text-center p-5">
            No data found in current time.
          </td>
        </tr>
      </table>

      <mat-paginator #pagination [pageSizeOptions]="[10, 25, 50,100]" aria-label="Select page"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
